{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <div class="header-img"></div>
        <title>WAR for EPL</title>
        <link rel="stylesheet" type="text/css" href="{% static "/main.css" %}" />
    </head>
    <body>
        <div id="header">
            <h1 style="font-family:verdana">Wins Above Replacement for the English Premier League</h1>
        </div>
        
        <div class="positions">
            <form class="postion_form", method="get">
                <label, style="font-size: 16px">Please start by selecting
                a position:</label>
                {% csrf_token %}
                <table class="pos_form">
                {{ pos_form }}
                </table>
                <input type="submit" value="Submit" />
            </form>
        </div>
        

        <div class="frame">
            <form method="get">
                {% csrf_token %}
                <table class="form">
                {{ form }}
                </table>
                <input type="submit" value="Submit" />
            </form>
        </div>

        {% if args %}
        <div class="args">
            <pre>{{ args }}</pre>
        </div>
        {% endif %}

        {% if err %}
        <div class="error">
            {{ err|safe }}
        </div>
        {% endif %}



        <div class="frame">
            {% if result != None %}
            <div class="results">
                <table class="players">
                    <tr>
                        {% for col in columns %}
                        <th>{{ col }}</th>
                        {% endfor %}
                    </tr>
                    {% for entry in result %}
                    <tr>
                        {% for col in entry %}
                        <td>{{ col }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <p class="num_results">Players: {{ num_results }}</p>
            {% endif %}
        </div>
    </body>
</html>
